<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>All about Batman </title>
  <link rel="stylesheet" type= "text/css"  href="/stylesheets/mystyle.css">
 

</head>

<body>

<style type="text/css">
  body { margin-left: 10%; margin-right: 10%; }
  h1 { margin-left: -8%;}
  h2,h3,h4,h5,h6 { margin-left: -4%; }
</style>


<!-- Main content -->
<h1>This Site is all about how awesome Batman is!</h1>

<p>Welcome to the Batcave!

<p>It lacks aesthetics, but at least it has style.
And it has links, even if they don't go out of the batcave.&hellip;

<p>Batman started as the lowely son of a multi-billionaire, Thomas Wayne. When Bruce Wayne was young, he fell into a pit where bats swarmed him. From that day on he was terrified of the nocturnes.

<p>The Dark Knight Rises is all about Batman's struggle with the joker, and balancing the needs of the city vs. morality.  

<p>Now have fun with a fight simulator!</p>
<button type="button" onclick="myFunction()">Try it</button>

<script src="/javascripts/fight.js"></script>

<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/Bruce">Bruce</a>
  <li><a href="/Thomas">Thomas</a>
  <li><a href="/Martha">Martha</a>
  <li><a href="/Batman">Batman</a>
</ul>

<!-- Sign and date the page, it's only polite! -->
<address>Made 06.28.13 <br>
  by Neall Caughman.</address>

</body>
</html>
