<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Batman </title>
  <link rel="stylesheet" type= "text/css"  href="/stylesheets/mystyle.css">

</head>

<body>

<style type="text/css">
  body { margin-left: 10%; margin-right: 10%; }
  h1 { margin-left: -8%;}
  h2,h3,h4,h5,h6 { margin-left: -4%; }
</style>


<!-- Main content -->
<h1>Batman, The Dark Knight</h1>
	</h2>

<p>Batman's Legacy started in the late 1940's with the introduction of the original Batman #1 comics. 

<p>"Batman is a fictional character, a comic book superhero appearing in comic books published by DC Comics. Batman was created by artist Bob Kane and writer Bill Finger, and first appeared in Detective Comics #27 (May 1939). Originally referred to as 'the Bat-Man' and still referred to at times as 'the Batman,' the character is additionally known as 'the Caped Crusader,' 'the Dark Knight,' and 'the World's Greatest Detective,' among other titles."- wikepedia.org

<p>After Batman's parents were murdered by guns, he vowed to clean up the streets of Gotham without using any guns. 

<p><img src="/images/fighter.jpg" />

</h2>
<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/Batcave">Batcave</a>
  <li><a href="/Thomas">Thomas</a>
  <li><a href="/Martha">Martha</a>
  <li><a href="/Bruce">Bruce</a>
</ul>

<!-- Sign and date the page, it's only polite! -->
<address>Made 06.20.13 <br>
  by Patrick Williams.</address>

</body>
</html>
