<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Bruce Wayne </title>
  <link rel="stylesheet" type= "text/css"  href="/stylesheets/mystyle.css">

</head>

<body>

<style type="text/css">
  body { margin-left: 10%; margin-right: 10%; }
  h1 { margin-left: -8%;}
  h2,h3,h4,h5,h6 { margin-left: -4%; }
</style>


<!-- Main content -->
<h1>Bruce Wayne. Herioc vigilante or terrifing menace?</h1>

<p>Bruce Wayne is quite the interesting man.

<p>Born into a wealthy and powerful family, he took to the outdoors and exploration at a young age. After a terrifying encounter with bats when he was young, he was forever mortified by the sight of the winged beasts. One day, while attending an opera with his parents, he was orphaned by a starving man on the streets. The man murdered his parents for money and left Bruce to fend for himself. From that day on he vowed to stop crime and never use guns becuase it was a gun that ended his parents life.

<p>The day he decided to devote his life to stopping crime, Bruce traveled to Nepal to meet with the Head of the League of Shadows, Rhas' al Ghul. From then on he learned the ways of the Night. He learned what it meant to truly live for justice.


<p><img src="/images/fighter.jpg" />


<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/Batcave">Batcave</a>
  <li><a href="/Thomas">Thomas</a>
  <li><a href="/Martha">Martha</a>
  <li><a href="/Batman">Batman</a>
</ul>n

<!-- Sign and date the page, it's only polite! -->
<address>Made 06.20.13 <br>
  by Patrick Williams.</address>

</body>
</html>
