<html>
		<title>
                 Guess
                </title>
<link rel='stylesheet'type= "text/css"  href='/stylesheets/gamestyle.css' />

        </head>

        <body>
                <h2>
                        <form method= 'post' action='/guessHandler' >
			<span> Enter a number </span>
			<input type= 'text' name= 'userguess' />
			<input type='submit' value= 'Guess Now' />
			</form> 
                </h2>
           
        </body>
</html>

