<!DOCTYPE html>
<html>
  <head>
    <title> Guessing Game  </title>
 <link rel='stylesheet'type= "text/css"  href='/stylesheets/gamestyle.css' />

  </head>
  <body>
    <h1> Guessing Game </h1>
    <p> This is a game where a random number between 1 and 1000 is generated and the user must guess the correct answer.
<p> The user is then told whether to guess HIGHER or LOWER.
<p> The user has 8 guesses to correctly determine the number.   </p>

<form method= 'post' action= '/startview'>
<span> Ready to begin? </span>
<p>
<!--<input type= 'text'/>-->
<input type= 'submit' value= 'Begin'>
</form>


  </body>
<html>
