<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Martha Wayne </title>
  <link rel="stylesheet" type= "text/css"  href="/stylesheets/mystyle.css">

</head>

<body>

<style type="text/css">
  body { margin-left: 10%; margin-right: 10%; }
  h1 { margin-left: -8%;}
  h2,h3,h4,h5,h6 { margin-left: -4%; }
</style>


<!-- Main content -->
<h1>Martha Wayne.</h1>

<p>Martha Wayne was the mother to Bruce Wayne. 

<p>Born Martha Kane, Martha was the heir to the Kane Chemical fortune and a member of one of Gotham City's wealthiest families. Despite her Irish-Catholic background, in her youth, Martha had a reputation as a notorious party girl, socialite, and debutante, frequenting all the most prestigious country clubs, night clubs, and soirees. She also had a developed social conscience and often used her family's wealth and status to champion causes and charities.

<p>You are now at a party; have a conversation with Martha. 





<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/Batcave">Batcave</a>
  <li><a href="/Thomas">Thomas</a>
  <li><a href="/Bruce">Bruce</a>
  <li><a href="/Batman">Batman</a>
</ul>

<!-- Sign and date the page, it's only polite! -->
<address>Made 06.20.13 <br>
  by Patrick Williams.</address>

</body>
</html>
