<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Thomas Wayne </title>
  <link rel="stylesheet" type= "text/css"  href="/stylesheets/mystyle.css">

</head>

<body>

<style type="text/css">
  body { margin-left: 10%; margin-right: 10%; }
  h1 { margin-left: -8%;}
  h2,h3,h4,h5,h6 { margin-left: -4%; }
</style>


<!-- Main content -->
<h1>Thomas Wayne. Billionaire Father</h1>

<p> "Dr. Thomas Wayne was the father of Bruce Wayne, and husband of Martha Wayne, as well as a gifted surgeon and philanthropist. He was also the inheritor of the Wayne family fortune, which was built through industry and real estate by previous generations." - wikepedia.org

<h2>His Untimely Murder</h2>


<p>When exiting a theatre, Thomas and Martha Wayne are murdered by a mugger right in front of their son, Bruce. This tragedy shocks Gotham, leads to Park Row (the street where it occurred) being labeled Crime Alley, and most importantly, serves as the motivation for Bruce one day becoming Batman.

<p><img src="/images/fighter.jpg" />


<!-- Site navigation menu -->
<ul class="navbar">
  <li><a href="/Batcave">Batcave</a>
  <li><a href="/Bruce">Bruce</a>
  <li><a href="/Martha">Martha</a>
  <li><a href="/Batman">Batman</a>
</ul>

<!-- Sign and date the page, it's only polite! -->
<address>Made 06.20.13 <br>
  by Patrick Williams.</address>

</body>
</html>
